[Unit]
Description=Ghost blog
After=network.target

[Service]
Type=simple 
WorkingDirectory=/opt/ghost  
User=node
Group=node  
ExecStart=/usr/local/bin/npm start --production /opt/ghost
ExecStop=/bin/kill -TERM $MAINPID  
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=15
ExecStartPre=/bin/mkdir -p /run/ghost
ExecStartPre=/bin/chown node:node /run/ghost
ExecStartPre=/bin/chmod 755 /run/ghost
PermissionsStartOnly=true
TimeoutStopSec=600
PIDFile=/run/ghost.pid

[Install]
WantedBy=multi-user.target
