[Unit]
Description=Ghost systemd service 

[Service]
Type=simple
WorkingDirectory=/opt/ghost
User=root
Environment="NODE_ENV=development"
ExecStart=/usr/local/bin/ghost run
Restart=always

[Install]
WantedBy=multi-user.target